extends layout

block content

  div
    h4= title  

    div(style="float:right;")
      | Show Extreme Outliers
      input(type="checkbox",id="chkShowGlobalOutliers",onclick="toggleOutliers(this)",checked="true")
  
  div(style="clear:both;")
    div(style="float:left;")
      | Transaction Type:
      input(type="radio",name="txType",value="radioSegwit",id="radioSegwit",onclick="showSegwitData()",checked="true") 
      | SegWit
      input(type="radio",name="txType",value="radioLegacy",id="radioLegacy",onclick="showLegacyData()") 
      | Legacy (non-SegWit)
    
    div(style="float:right;")
      input(type="radio",name="chartCategory",value="radioFeesSpB",id="radioFeesSpB",onclick="showFeesSpB()",checked="true") 
      | Fees (Sat/Byte)
      input(type="radio",name="chartCategory",value="radioTxFees",id="radioTxFees",onclick="showTxFees()") 
      | Fees (BTC)
      input(type="radio",name="chartCategory",value="radioTxFeesUSD",id="radioTxFeesUSD",onclick="showTxFeesUSD()") 
      | Fees (USD)
      input(type="radio",name="chartCategory",value="radioTxSize",id="radioTxSize",onclick="showTxSize()") 
      | Size (Bytes)

  br
  div.bwChart#datavis

  script(type="text/javascript", src="/javascripts/script.js")