extends layout

block content

  h4= title  

  
  div(style="float:left;")
    | Transaction Type:
    input(type="radio",name="txType",value="radioSegwit",id="radioSegwit",onclick="showSegwitData()",checked="true") 
    | SegWit
    input(type="radio",name="txType",value="radioLegacy",id="radioLegacy",onclick="showLegacyData()") 
    | Legacy (non-SegWit)
  
  div(style="float:right;")
    input(type="radio",name="chartCategory",value="radioFeesSpB",id="radioFeesSpB",onclick="showFeesSpB()",checked="true") 
    | Tx Fees (Sat/Byte)
    input(type="radio",name="chartCategory",value="radioTxFees",id="radioTxFees",onclick="showTxFees()") 
    | Tx Fees (BTC / Tx)
    input(type="radio",name="chartCategory",value="radioTxSize",id="radioTxSize",onclick="showTxSize()") 
    | Tx Size (Bytes)

  br
  div.bwChart#txFees
  
  div.bwChart#satsPerByte
  
  div.bwChart#txSize
  

  script(type="text/javascript", src="/javascripts/script.js")